<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>CrowdLearning</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="icon"  type="image/png" href="../img/crowdlearning.png">
      <link href="/css/animate.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.modal-trigger').leanModal();
              }); 
      </script>
</head>
<body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>

  <header class="navbar-fixed">
    <nav class="row  blue-grey darken-2">
      <div class="col s12">
        <ul class="right">
          <li class="right">
            <a href="" target="_blank" class="fa fa-facebook-square fa-2x waves-effect waves-light"><span class="icon-text"></span></a>
          </li>
          <li class="right">
            <a href="" target="_blank" class="fa fa-github-square fa-2x waves-effect waves-light"><span class="icon-text"></span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="valign-wrapper">
    <span class="container grey-text text-lighten-1 ">

      <p class="flow-text">Welcome to</p>
      <h1 class="title grey-text text-lighten-3">Crowdlearning</h1>

      <blockquote class="flow-text">Collaborative e-Learning application for subject focused problem posing and solving</blockquote>

      <div class="center-align">
        <a class="btn dropdown-button orange z-depth-3" href="/user/signup" data-activates="exams">Get Started</a>
        <a class="btn dropdown-button orange z-depth-3" href="/user/login" data-activates="study"><i class="material-icons left">perm_identity</i>Login</a>

        <!-- Dropdown Structure -->
        <ul id="study" class="dropdown-content">
          <li><a href="#!">mathematics</a></li>
          <li><a href="#!">reading</a></li>
          <li><a href="#!">science</a></li>
          <li><a href="#!">social studies</a></li>
          <li><a href="#!">writing</a></li>
        </ul>
      </div>

    </span>
  </main>



  <footer class="page-footer  blue-grey darken-2">
    <div class="footer-copyright  blue-grey darken-3">
      <div class="container">
        <time datetime="{{ site.time | date: '%Y' }}">&copy; University at Buffalo</time>
      </div>
    </div>
  </footer>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92848140-1', 'auto');
  ga('send', 'pageview');

</script>
    
    </body>    
</html>